.panels {
    width: 100%;
    height: 85vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    /*border: 2px solid #8fb1cc;*/
    padding: 1.875rem;
}

.title {
    margin: 10px;
}

.panel-title {
    text-transform: uppercase;
    margin: 0;
}

.panel-date {
    color: #737A85;
}

svg {
  border: 2px solid darkgreen;
}

.line {
  fill: none;
  stroke: green;
  stroke-width: 4;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: rgb(0, 223, 0);
  stroke: #fff;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

/* comment */
svg {
    border: 2px solid darkgreen;
  }
  
  .line {
    fill: none;
    stroke: green;
    stroke-width: 4;
  }
  
  .overlay {
    fill: none;
    pointer-events: all;
  }
  
  /* Style the dots by assigning a fill and stroke */
  .dot {
    fill: rgb(0, 223, 0);
    stroke: #fff;
  }
  
  .focus circle {
    fill: none;
    stroke: steelblue;
  }