.panels {
    width: 95.5%;
    height: 85vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    /*border: 2px solid #8fb1cc;*/
    padding: 1.875rem;
}

.title {
    margin: 10px;
}

.panel-title {
    text-transform: uppercase;
    margin: 0;
}

.panel-date {
    color: #737A85;
}